#appContainer > div > main > #blogSearch
  > #blogPostList
    > .blogPost
      text-decoration: inherit
      display: block
      &:not(:first-child)
        border-top: thin dotted grey
        padding-top: $medium-padding
    > .caboose
      text-align: center
      padding: $small-padding
