$header-height: 120px
$footer-height: 40px
$tiny-media-width: 550px
$large-padding: 30px
$medium-padding: 15px
$small-padding: 5px
$app-max-width: 1000px

=floater-content($width)
  max-width: $width
  @supports (display: flex)
    flex-grow: 0 !important

// things in common between the two layouts
body
  position: absolute
  min-height: 100%
  width: 100%
  > #appContainer > div
    > header
      position: relative
      > nav
        position: absolute
        top: $small-padding
        padding-top: $small-padding * 2 + 25px
        right: $small-padding
        > .spacer
          display: none
        > .hamburgerButton
          width: 30px
          height: 25px
          position: absolute
          top: $small-padding
          right: $small-padding
          cursor: pointer
        > a
          display: none
          padding: $small-padding
      @media (min-width: $tiny-media-width)
        > nav
          padding-top: 0
          position: static
          > .hamburgerButton
            display: none
          > .spacer
            display: inline-block
    > main
      position: relative
      padding: $medium-padding
      @media (min-width: $tiny-media-width)
        padding: $large-padding
      > #authIndicator
        text-align: right
        margin-top: $small-padding - $medium-padding
        margin-bottom: $medium-padding - $small-padding
        @media (min-width: $tiny-media-width)
          margin-top: $medium-padding - $large-padding
          margin-bottom: $large-padding - $medium-padding
      > *:not(#authIndicator)
        width: 100%
        margin: auto
      .actions
        > * ~ *
          margin-left: $small-padding
      fieldset
        padding: $medium-padding
        padding-top: 0
        margin: $medium-padding
        legend
          padding: $small-padding
    > footer
      position: relative

// legacy (flexless) layout
body > #appContainer
  position: absolute
  height: 100%
  width: 100%
  > div
    position: absolute
    height: 100%
    width: 100%
    padding-top: $header-height
    padding-bottom: $footer-height
    background-attachment: local
    overflow: scroll
    > *
      display: block
    @media (min-width: $app-max-width)
      > *
        max-width: $app-max-width
        margin-left: auto
        margin-right: auto
        position: relative
    > header
      height: $header-height
      margin-top: -1 * $header-height
      > a > h1
        text-align: center
        padding-top: $large-padding
        padding-bottom: $large-padding
      > nav
        z-index: 1
        > .hamburgerButton
          text-align: center
        &.hamburgerExpanded
          > a
            display: block
            text-align: center
        @media (min-width: $tiny-media-width)
          > a
            display: inline-block
            float: left
          > .spacer ~ a
            float: right
    > main
      min-height: 100%
      > #authIndicator
        width: 100%
      .actions
        text-align: right
        > *
          text-align: left
      .checklist
        > *
          display: block
    > footer
      height: $footer-height


// If we have flex capability,
@supports (display: flex)
  // Undo the legacy layout.
  body > #appContainer
    position: initial
    height: initial
    width: initial
    > div
      position: initial
      height: initial
      width: initial
      padding-top: initial
      padding-bottom: initial
      background-attachment: initial
      overflow: initial
      @media (min-width: $app-max-width)
        > *
          max-width: initial
          margin-left: initial
          margin-right: initial
          position: initial
      > header
        height: initial
        margin-top: initial
        > a > h1
          text-align: initial
          padding-top: initial
          padding-bottom: initial
        > nav
          > .hamburgerButton
            text-align: initial
          &.hamburgerExpanded
            > a
              display: initial
              text-align: initial
          @media (min-width: $tiny-media-width)
            > a,
            > .spacer ~ a
              display: initial
              float: none
      > main
        min-height: initial
        > #authIndicator
          width: auto
        .actions
          text-align: initial
          > *
            text-align: initial
      > footer
        height: initial
  // Define a flexbox layout.
  body
    display: flex
    flex-direction: column
    justify-content: flex-start
    > #appContainer
      flex: 1 0
      display: flex
      flex-direction: row
      justify-content: center
      > div
        flex: 1 1
        display: flex
        flex-direction: column
        align-items: stretch
        @media (min-width: $app-max-width)
          align-items: center
          > *
            width: $app-max-width
        > header
          flex-grow: 0
          flex-shrink: 0
          flex-basis: $header-height * 0.75
          display: flex
          flex-direction: column
          > a
            flex: 1 0 auto
            display: flex
            align-items: center
            justify-content: center
          > nav
            display: flex
            flex-wrap: nowrap
            flex-direction: column
            align-items: stretch
            > .hamburgerButton
              display: flex
              align-items: center
              justify-content: center
            > a
              flex: 0 0 auto
              align-items: center
              justify-content: center
            &.hamburgerExpanded > a
              display: flex
          @media (min-width: $tiny-media-width)
            flex-basis: $header-height
            > nav
              flex-wrap: wrap
              flex-direction: row
              > .hamburgerButton
                display: none
              > .spacer
                flex: 1 0 0
              > a
                display: flex
        > main
          flex: 1 0 auto
          display: flex
          align-items: stretch
          justify-content: flex-start
          flex-wrap: wrap
          flex-flow: column nowrap
          > #authIndicator
            flex: 0 0 auto
          > *:not(#authIndicator)
            align-self: center
            flex-grow: 1
          .actions
            display: flex
            align-items: center
            justify-content: flex-end
          .checklist
            display: flex
            flex-flow: column wrap
            align-items: stretch
            justify-content: flex-start
            > *
              // display: block
        > footer
          flex: 0 0 $footer-height
