$theme-colour: rgb(65, 53, 99)
$theme-colour-contrast: rgb(212, 208, 244)
$body-colour: rgb(29, 29, 29)

=no-select
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

=themed
  background-color: $theme-colour
  color: $theme-colour-contrast

@import url(https://fonts.googleapis.com/css?family=Righteous)
=brand-text
  font-family: Righteous, Helvetica, 'Century Gothic', sans-serif

@import url(https://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic)
=header-text
  font-family: Arvo, Rockwell, 'Cooper Black', serif
  font-weight: bold

@import url(https://fonts.googleapis.com/css?family=Bitter:400,700,400italic)
=body-text
  font-family: Bitter, 'Bookman Antiqua', serif

=message($colour)
  border: thin solid darken($colour, 20%)
  background-color: lighten($colour, 20%)
  padding: $small-padding
  display: block
  color: darken($colour, 30%)

body
  background-color: #eee
  > #appContainer > div
    // background-image: url('http://communications.oregonstate.edu/sites/communications.oregonstate.edu/files/social_background.jpeg')
    > header
      +themed
      +no-select
      h1
        +brand-text
        font-size: 50px
      > nav
        > .hamburgerButton
          font-size: 25px
          border: thin solid
        > a
          +themed
          +header-text
          &.active
            background-color: desaturate(lighten($theme-colour, 20%), 10%)
    > main
      background-color: white
      color: $body-colour
      +body-text
      line-height: 1.5
      h1
        +header-text
        font-size: 150%
        margin-bottom: $medium-padding
      h2
        +header-text
        font-size: 120%
        margin-bottom: $medium-padding
      *
        + h1, + h2, + h3, + h4, + h5, + h6
          margin-top: 1em
      p, ul, ol, dl
        margin-bottom: $medium-padding
      a
        color: lighten($body-colour, 20%)
        text-decoration: underline
        &:hover
          color: inherit
      em
        font-style: italic
      strong
        font-weight: bold
      s
        text-decoration: line-through
      sup, sub
        font-size: 80%
        position: relative
      sup
        bottom: 0.3em
      sub
        top: 0.3em
      ul, ol, dl
        margin-left: $large-padding
      ul
        list-style-type: disc
      ol
        list-style-type: decimal
      li, dd
        > ul,
        > ol
          margin-bottom: 0
      dd
        margin-left: $large-padding
      input, select, textarea
        border: thin solid $body-colour
        padding: $small-padding
      .info
        +message(rgb(141, 183, 207))
      .error
        +message(rgb(212, 111, 111))
      button,
      .button
        display: inline-block
        text-decoration: initial
        +header-text
        +no-select
        background-color: lighten($body-colour, 60%)
        &:disabled,
        &.disabled
          background-color: lighten($body-colour, 30%)
          color: lighten($body-colour, 20%)
        &.highlighted
          +themed
          &:disabled
            background-color: desaturate(lighten($theme-colour, 20%), 20%)
            color: desaturate(darken($theme-colour-contrast, 10%), 20%)
        padding: $small-padding
    > footer
      +themed
      +body-text
