#appContainer > div > main > #userSearch
  +full-content
  > #filter
    > label
      display: inline-block
      margin: $small-padding
      > input
        display: block
  > ol
    > li.user
      padding: $medium-padding
      border-bottom: thin solid grey
      > *
        margin: $small-padding
      > div.name
        font-size: 120%
